{% extends 'base.html' %}
{% load static %}

{% block page_title %}Dorin - Register{% endblock %}

{% block css_files %}

{% endblock %}

{% block content %}
    <form action={% url 'new_post_page'%} method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Post title"/>
        <input type="text" name="post-text" placeholder="What's on your mind?"/>
        <input type="file" name="post-picture">
        <input type="submit" name="Post"/>
    </form>
{% endblock %}